@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    text-align: center;
    color: #3E3F3C;
    background-color: #F5F5F5;
    font-family: Open Sans; 
}
g-recaptcha {
    margin: 0 auto;

}
a {
    text-decoration: none;
    color: #B8CCCD;
}
#top {
    float: right;
}

#space {
    clear: both;
    margin: 20px;
    padding: 10px;
}

#dropbtn {
    margin-right: 10px;
    background-color: #B8CCCD;
    color: white;
    font-size: 13px;
    border: none;
    height: 32px;
    width: 200px;
    padding:5px;
    
}

#dropdown {
    display: inline-block;
   
}


#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}


#dropdown-content .conversation {
    color: black;
    font-size: 12px;
    text-decoration: none;
    display: block;
}


#dropdown-content .conversation:hover {background-color: #f1f1f1;}


#dropdown:hover #dropdown-content {
    display: block;
}


#dropdown:hover #dropbtn {
    background-color: #B8CCCD;
}


#logoutButton {
    float: right;
    width: 50px;
    height: 20px;
    border:1px solid #B8CCCD;
    background-color: #B8CCCD;
    font-family: open sans;
    font-size: 13px;
    padding: 5px;
}

#logoutButton a {
    color: white;
    text-decoration:  none;
}

#dropdown-content a:hover, #logoutButton a:hover, .conversation:hover {
    color: #96A7A8;
}
.header{
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
}

table {
    margin: 0 auto;
    text-align: left;
}

td {
    width: 100px;
}

input[type="text"], input[type="password"] {
    width: 200px;
    height: 20px;
}

input[type="submit"], .conversation {
    width: 200px;
    height: 25px;
    border:1px solid #B8CCCD;
    background-color: #B8CCCD;
    font-family: open sans;
    font-size: 13px;
    color: white;
}

h1 {
    font-family: Open Sans;
    font-size: 75px;
    color: ##3E3F3C;
}

#defaultPage a:hover {
    color: #96A7A8;
}

.user {
    background-color: #DCC7AC;
}

#defaultPage a {
    text-decoration: none;
    color: #fff;
    background-color: #B8CCCD;
    padding: 5px;
    display: block;
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    
}
.eliza {
    background-color: #B8CCCD;
}

.user, .eliza {
    padding: 5px;
    margin: 10px;
    margin-left: 15%;
    width: 70%;
}

#convo {
    height: 500px;
    overflow: auto;
}

::-webkit-scrollbar {
     height: 4px;
     width: 15px;
     background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
     background: #B8CCCD;
     border: 1px solid #FFFFFF;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {    
      display: block;
      height: 12px;
      background: #B8CCCD;
      border: 1px solid #FFFFFF;
}

